@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Mate SC', serif;
  overflow: hidden;
  margin: 0;
  background-image: url('https://lh3.googleusercontent.com/proxy/ewbCd3IYxpQeh0MWVfn0T49yxMaCg6C6c-mc7s9Lq8yWBGSw8UwnizspeWLLqgJ1fLI2r6CpILsQjKq_Jq5YbtFOHTFH1mYS9r7OZNUmBAWduPOHsYdxzY-dLbnK8_uiAzSc6kxg-TI') no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;
  color: #C0C0C0;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
  position: absolute;
  font-size: 35px;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  animation: flow 5s ease-in-out infinite;
  background: linear-gradient(-60deg, #904e95, #904e95, #e73c7e, #ee7752);
  background-size: 300%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.slide.active {
  flex: 10;
}

.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
